@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 1200px;
    padding: 50px 100px 10px 100px;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

.post {
    height: 500px;
    left: 232px;
    top: 321px;
    background: #EFF0F6;
    border-radius: 17px;
    display: flex;
    padding: 15px;
    margin-top: 45px;
    justify-content: space-between;
}

.post__content {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 14px;
    /* or 140% */
    width: 800px;
    height: 800px;
    display: flex;
    letter-spacing: 0.75px;
    padding: 45px;
    color: #2E4960;
    z-index: 0;
}

.post__btns {
    position: relative;
    margin-top: 380px;
    margin-right: 45px;
    display: flex;
}

.enter {
    background: #EFF0F6;
    position: absolute;
    top: 20%;
    right: 35%;
    padding: 30px;
    z-index: 999999;
    border-radius: 36.5px;
}

.countr h1 {
    margin-left: 28px;
}

.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.petdesc {
    margin-left: 30px;
    margin-top: 48px;
    position: relative;
    height: 40px;
    position: flex;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.petdesc h1 {
    position: relative;
    height: 30px;
    position: flex;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
}

.petimage {
    position: relative;
    margin-top: 50px;
    width: 300px;
    height: 300px;
}


.page__wrapper {
    margin-top: 30px;
    display: flex;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current {
    border: 1px solid orange;
    font-weight: bold;
}

.main {
    background: url('https://i.imgur.com/V36WnIe.jpeg');
    width: 100%;
    height: 1080px;
    background-position: top;
    display: flex;
    font-size: 30px;
    padding: 20px;
}

.postlist h1 {
    text-alugn: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;

    display: flex;
    align-items: center;
    letter-spacing: 0.75px;

    color: #2E4960;
}

.header {
    position: absolute;
    top: 30%;
    left: 20%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 48px;

    display: flex;
    align-items: center;
    letter-spacing: 0.75px;

    color: #2E4960;
}


.subheader {
    position: absolute;
    top: 30%;
    left: 20%;
    margin-top: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 48px;

    display: flex;
    letter-spacing: 0.75px;

    color: #2E4960;
}


.search {
    display: flex;
    padding: 15px;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    width: 800px;
    height: 75px;
    left: 30%;
    top: 50%;

    background: #EFF0F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 36.5px;
}

.search_buttons {
    position: absolute;
    left: 7%;
    top: 25%;
    display: flex;
    margin-top: 165px;
    margin-left: 240px;
    z-index: 100000;
}

.logbtn {
    text-align: center;
    white-space:nowrap;
    margin-top: 14px;
    margin-left: 10px;
}

.logtbtn {
    position: fixed;
    top: 15px;
    right: 150px;
    font-size: 14px;
    border-radius: 36.5px;
    background-color: #2e4960;
}

.userprofile {
    position: fixed;
    top: 18px;
    right: 300px;
    font-family: Arial;
    font-style: normal;
    display: flex;
    width: 80px;
    height: 80px;
    font-size: 14px;
    border-radius: 6px;
}

.group-1 {
    height: 67px;
    width: 242px;
}
.rectangle {
    /* Group 1 */

    position: relative;
    top: 50%;
    left: 10%;
    margin-left: 15px;
    display: flex;
    width: 125px;
    height: 67px;

    border-radius: 36.5px;
    background-color: #2e4960;
}

.rectangle a {
    position: relative;
    left: 30.58%;
    right: 30.17%;
    top: 11.94%;
    bottom: 13.43%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 28px;
    text-decoration: none;
    /* or 112% */

    display: flex;
    letter-spacing: 0.75px;

    color: #FFFFFF;
}


.text-1 {
    /* Search */

    position: absolute;
    left: 30.58%;
    right: 30.17%;
    top: 11.94%;
    bottom: 13.43%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 28px;
    /* or 112% */

    display: flex;
    align-items: center;
    letter-spacing: 0.75px;

    color: #FFFFFF;
}

.hidden {
    display: none;
}