@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.myBtn {
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    position: relative;

    display: flex;
    align-items: center;
    letter-spacing: 0.75px;

    color: #FFFFFF;

    display: flex;
    border-radius: 36.5px;
    background-color: #2e4960;
}